<?xml version="1.0" encoding="UTF-8"?>
<root>
	<menu>
		<name>首页</name>
		<href>index.sp</href>
	</menu>
	<menu>
		<name>学无止境</name>
		<href>learn.sp</href>
	</menu>
	<menu>
		<name>碎生活</name>
		<href>life.sp</href>
	</menu>
	<menu_bk>
		<name>自定义</name>
		<href>define.sp</href>
	</menu_bk>
	<menu>
		<name>关于我</name>
		<href>about.sp</href>
	</menu>
</root>